/*editor fixes */
h2:before {
	display: none;
}

.edit-post-visual-editor h2:before {
	display: block;
}

.edit-post-visual-editor .wp-block-button__link {
    line-height: inherit !important;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--nv-dark-bg) !important;
}